language: node_js
node_js: stable
cache:
  directories:
    - "vue-materials/scaffolds/d2-admin-ice/node_modules"

branches:
  only:
  - master

before_install:
  - "cd vue-materials/scaffolds/d2-admin-ice/"

script:
  - npm run build

deploy:
  provider: pages
  local-dir: vue-materials/scaffolds/d2-admin-ice/dist
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: master